body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Set overall background to black */
    color: #FFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #292929;
    border-bottom: 1px solid #444;
}

.profile {
    display: flex;
    flex-direction: column;
}

.rank {
    font-weight: bold;
    font-size: 14px;
    color: #FFDD00;
}

.username {
    font-size: 12px;
    color: #FFF;
}

.coins-container {
    display: flex;
    align-items: center;
}

.binance-icon {
    width: 24px;
    margin-right: 10px;
}

.coins {
    font-size: 16px;
    font-weight: bold;
    color: #FFD700;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #292929;
    border-bottom: 1px solid #444;
}

.action-button {
    background-color: #333;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #444;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.coin-display {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFD700;
}

.hamster-container {
    position: relative;
    margin-bottom: 20px;
}

.hamster {
    width: 400px;
    height: 400px; /* Ensure height is equal to width to maintain circular shape */
    border-radius: 60%; /* Make the image circular */
    cursor: pointer;
}

.energy-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.energy-bar {
    width: 200px;
    height: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.energy-bar-fill {
    height: 100%;
    background-color: #FFDD00;
    transition: width 0.3s ease;
}

.energy-text {
    font-size: 14px;
    color: #FFF;
}

.boost-button {
    background-color: #292929;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boost-button:hover {
    background-color: #444;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #292929;
    border-top: 1px solid #444;
}

.footer-button {
    background-color: #333;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-button:hover {
    background-color: #444;
}
