body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1c1c1c;
}

.profile-section {
    text-align: left;
}

.profile-name {
    font-weight: bold;
}

.rank {
    display: block;
    color: lightgrey;
}

.coin-section {
    display: flex;
    align-items: center;
}

.binance-icon {
    margin-right: 5px;
}

.profit-hour {
    color: lightgreen;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.main-info {
    text-align: center;
    margin-bottom: 20px;
}

.coin-display {
    font-size: 24px;
    margin-bottom: 10px;
}

.energy-bar {
    font-size: 16px;
    color: #ffca28;
}

.hamster-container img {
    width: 150px;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.action-button, .footer-button {
    padding: 10px;
    background-color: #282828;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer-button {
    width: 80px;
}

.action-button:hover, .footer-button:hover {
    background-color: #3d3d3d;
}
